html {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 300px;
  height: auto;
  margin-bottom: 10px;
}

div {
  margin-bottom: 30px;
}

input {
  display: block;
  margin-bottom: 30px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}